h1 {
    padding: 10px 0 0 15px;
}

#headerWrap {
    margin-left: 15px;
    width: 180px;
    height: 100px;
    border-radius: 25px;
    border: solid;
    border-color: #272822;
    border-width: 1px;
}

table {
    padding: 15px 0 0 20px;
    width: 350px;
}

th {
    text-align: left;
}

svg {
    height: 14px;
    width: 14px;
}

.red {
    color: #a72e25
}

.green {
    color: #48a738
}

.blue {
    color: #3a4da7
}

.yellow {
    color: #cea900
}