body{
    max-width: 1080px;
    margin: 0 auto !important;
    float: none !important;
}

h1 {
    font: 28px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 32px 0 0 15px;
    color: white;
}

a {
    text-decoration: none;
}

#header-wrap {
    margin: 15px 0 0 15px;
    width: 220px;
    height: 140px;
    border-radius: 25px;
    border: solid;
    border-color: #272822;
    border-width: 1px;
    text-align: center;
}

.button-square {
    margin: 20px 10px 10px 10px;
    width: 100px;
    height: auto;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    text-align: center;
    /*background: lightgrey;*/
    display: block;
}

a.fill-div.ui-link {
    font: 17px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: white;
    padding-top: 7px;
}

.button {
    margin: 20px 10px 10px 10px;
    width: 80px;
    height: 36px;
    border-radius: 25px;
    border: none;
    text-align: center;
}

.speed {
    padding: 1vw 1vw 1vw 1vw;
    background-color: black;
    border-left: 0;
    border-right: 1px;
    border-color: white;
    border-style: solid;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
}

table {
    padding: 15px 0 0 20px;
}

table.status {
    width: 350px;
}

th {
    text-align: left;
}

svg {
    height: 14px;
    width: 14px;
}

.red {
    color: #a72e25
}

.green {
    color: #48a738
}

.blue {
    color: #3a4da7
}

.yellow {
    color: #cea900
}

.sliders {
    margin-left: 10px;
}