<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PiLi Fader</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
    <div id="header-wrap" style="
            {% if lights.fading %}
                background: -moz-linear-gradient(rgb({{lights.red}},{{lights.green}},{{lights.blue}}), rgb({{r}},{{g}},{{b}}));
                background: linear-gradient(rgb({{lights.red}},{{lights.green}},{{lights.blue}}), rgb({{r}},{{g}},{{b}}));
            {% else %}
                background: rgb({{lights.red}},{{lights.green}},{{lights.blue}});
            {% endif %}
    ">
    <a class="fill-div" href="1">
        <h1 style="
            {% if (lights.red+lights.green+lights.blue) > 650 or lights.power < 0.2 %}
                color: #272822;
            {% endif %}">
            PiLi Home
        </h1>
    </a>
    </div>
    <table>
        <tr>
            <td class="speed">
                <a href="fade10" class="button-text">10</a>
            </td>
            <td class="speed">
                <a href="fade20" class="button-text">20</a>
            </td>
            <td class="speed">
                <a href="fade30" class="button-text">30</a>
            </td>
            <td class="speed">
                <a href="fade40" class="button-text">40</a>
            </td>
            <td class="speed">
                <a href="fade50" class="button-text">50</a>
            </td>
            <td class="speed">
                <a href="fade60" class="button-text">60</a>
            </td>
            <td class="speed">
                <a href="fade70" class="button-text">70</a>
            </td>
            <td class="speed">
                <a href="fade80" class="button-text">80</a>
            </td>
            <td class="speed">
                <a href="fade90" class="button-text">90</a>
            </td>
            <td class="speed">
                <a href="fade100" class="button-text">100</a>
            </td>
        </tr>
    </table>
</body>
</html>
