<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PiLi Home</title>
    <!--<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">-->
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body>
    <h1>PiLi Home</h1>

    <table>
        <tr>
            <th>
                RED
            </th>
            <th>
                GREEN
            </th>
            <th>
                BLUE
            </th>
            <th>
                Power
            </th>
        </tr>
        <tr>
            <td>
                {{r}}
            </td>
            <td>
                {{g}}
            </td>
            <td>
                {{b}}
            </td>
            <td>
                {{p}}
            </td>
        </tr>
    </table>
</body>
</html>