<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PiLi Home</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="headerWrap" style="
            {% if (lights.red+lights.green+lights.blue) > 700 %}
                background: #272822
            {% endif %}">
        <h1 style="color:rgba({{lights.red}},{{lights.green}},{{lights.blue}},{{lights.power}})">
            PiLi Home
        </h1>
    </div>
    <table>
        <tr>
            <th class="red">
                Red
                <svg>
                    <circle cx="7" cy="7" r="6" fill="#a72e25"></circle>
                </svg>
            </th>
            <th class="green">
                Green
                <svg>
                    <circle cx="7" cy="7" r="6" fill="#48a738"></circle>
                </svg>
            </th>
            <th class="blue">
                Blue
                <svg>
                    <circle cx="7" cy="7" r="6" fill="#3a4da7"></circle>
                </svg>
            </th>
        </tr>
        <tr>
            <td>
                {{lights.red}}
            </td>
            <td>
                {{lights.green}}
            </td>
            <td>
                {{lights.blue}}
            </td>
        </tr>
    </table>
    <table>
        <tr class="bLeft">
            <th class="yellow">
                Power
                <svg>
                    <circle cx="7" cy="7" r="6" fill="#cea900"></circle>
                </svg>
            </th>
        </tr>
        <tr>
            <td>
                {{lights.power}}
            </td>
        </tr>
    </table>
</body>
</html>